@import "../../../assets/scss/variables";
@import "../../../assets/scss/button";
@import "../../../assets/scss/container";

.mybooking {
  min-height: 100dvh;

  &__hero {
    height: 250px;
    background-image: url("https://images.unsplash.com/photo-1536122985607-4fe00b283652?q=80&w=2134&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;

    @media (min-width: 768px) {
      height: 500px;
    }
  }

  &__container {
    padding: $base-padding;
    display: grid;
    gap: $base-normal-padding;

    @media (min-width: 768px) {
      padding: $base-normal-padding;
    }

    @media (min-width: 1380px) {
      padding: 0;
    }

    h1 {
      font-size: $font-size-xxl;
      color: $primary-color;
    }

    &--bookings {
      display: grid;
      place-items: center;
      gap: $base-normal-padding;

      @media (min-width: 860px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: 1280px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
