@import "./variables";

@mixin btn() {
  border: none;
  border-radius: 4px;
  background-color: transparent;
  padding: $base-font-size * 0.75 $base-font-size * 2;
  cursor: pointer;
}

.btn {
  &__primary {
    @include btn();
    // background-color: $primary-color;
    background-image: linear-gradient(90deg, $primary-color, $primary-color-50);
    background-size: 400% 400%;
    background-position: left;
    color: $primary-dark;
    font-weight: 700;
    transition: $base-transition-spd;

    &:hover {
      //   background-color: $primary-color-50;
      background-position: right;
    }
  }

  &__secondary {
    @include btn();
    color: $primary-color;
    border: 1px solid $primary-color;
    font-weight: 700;
    transition: $base-transition-spd;
    cursor: pointer;

    &:hover {
      background-color: $primary-color;
      color: $primary-dark;
      border-color: none;
    }
  }

  &__dark {
    @include btn();
    color: $primary-light;
    background-color: $primary-dark;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: $base-transition-spd;

    &:hover {
      background-color: $primary-dark-70;
    }
  }
}
