.container {
  max-width: 1320px;
  margin: auto;

  @media (max-width: 970px) {
    width: 100%;
  }

  @media (max-width: 678px) {
    width: 100%;
  }

  @media (max-width: 385px) {
    width: 100%;
  }
}
