$primary-bg: #212121;
$primary-bg-40: rgba(33, 33, 33, 0.4);
$primary-color: #27d483;
$primary-color-50: rgba(39, 212, 131, 0.5);
$primary-light: #dee3e1;
$primary-dark: #2a2b2d;
$primary-dark-70: rgba(42, 43, 45, 0.7);
$primary-danger: #a04747;

$base-border-radius: 4px;

$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-md: $base-font-size * 0.875;
$font-size-lg: $base-font-size * 1.25;
$font-size-xl: $base-font-size * 1.5;
$font-size-xxl: $base-font-size * 1.75;
$font-size-xxxl: $base-font-size * 2;

$base-padding: $base-font-size * 0.875;
$base-normal-padding: $base-font-size * 2;

$input-width: 26rem;
$input-height: 2rem;

$base-transition-spd: 0.4s;

$event-carousel-width: 70%;
