$primary-bg: #212121;
$primary-bg-40: rgba(33, 33, 33, 0.4);
$primary-color: rgb(39, 212, 131);
$primary-color-50: rgba(39, 212, 131, 0.5);
$primary-light: #f3f6ed;
$primary-dark: #393e46;
$primary-dark-70: rgba(57, 62, 70, 0.7);
$primary-danger: #a04747;

$base-border-radius: 1rem;

$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.875;
$font-size-md: $base-font-size * 1.25;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 1.75;
$font-size-xxl: $base-font-size * 2;

$base-padding: $base-font-size * 0.875;
$base-normal-padding: $base-font-size * 2;

$input-width: 26rem;
$input-height: 2rem;

$base-transition-spd: 0.4s;

$event-carousel-width: 70%;
