@import "../../assets/scss/variables";
@import "../../assets/scss/button";

.form {
  min-height: 100dvh;
  display: grid;
  place-content: center;
  gap: $base-normal-padding;

  .form__els {
    width: 100%;
    min-width: 385px;
    max-width: 800px;
    padding: $base-normal-padding;
    border-radius: $base-border-radius;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.7),
      -5px -5px 15px -5px rgba(0, 0, 0, 0.2);
    overflow: hidden;

    display: grid;
    gap: $base-padding;

    @media (min-width: 768px) {
      min-width: 600px;
    }

    &--head {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        color: $primary-color;
        font-size: $font-size-xl;
      }
    }

    a {
      color: $primary-color;
      transition: $base-transition-spd;

      &:hover {
        color: $primary-light;
      }
    }

    .visibilityIcon {
      color: $primary-light;
    }

    .err {
      color: $primary-danger;
    }

    .links {
      color: $primary-light;
      font-size: $font-size-md;
    }
  }
}
