@import "../../assets/scss/variables";
@import "../../assets/scss/button";
@import "../../assets/scss/container";

.bookingCard {
  color: $primary-light;
  background-color: $primary-dark;
  border-radius: $base-border-radius;
  width: 400px;
  min-width: 360px;
  box-shadow: 0 1px 5px rgba(255, 255, 255, 0.3),
    2px 2px 10px rgba(0, 0, 0, 0.5), 4px 4px 15px rgba(0, 0, 0, 0.3),
    -4px -4px 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: $base-transition-spd;

  &__details {
    &--title {
      font-size: $font-size-lg;
      font-weight: 600;
      padding: $base-normal-padding;
      background-color: $primary-color-50;
    }

    &--body {
      padding: $base-normal-padding;
      font-weight: 500;
      color: $primary-color-50;
      border-bottom: 1px solid $primary-color;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $base-padding;

      .price {
        background-color: $primary-color;
        color: $primary-dark;
        border-radius: $base-border-radius;
        width: fit-content;
        padding: $base-border-radius;
        font-weight: 600;
      }
    }

    &--action {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: $base-padding;

      padding: $base-normal-padding;

      .icon {
        cursor: pointer;
        font-size: $font-size-xxxl;
        transition: $base-transition-spd;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  &:hover {
    transform: translateY(-10px);
  }
}
