@import "../../assets/scss/variables";

.venueCard {
  background-color: $primary-light;
  color: $primary-dark;
  padding: $base-padding;
  border-radius: $base-border-radius;
  max-width: 345px;

  &__img {
    height: 140px;
    margin-bottom: $base-font-size;

    img {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $base-padding;

    &--title {
      font-size: $base-font-size;
    }

    &--bodytext {
      font-size: $font-size-md;
    }

    &--actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
