@import "../../../assets/scss/variables";
@import "../../../assets/scss/button";
@import "../../../assets/scss/container";

.forbidden {
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-height: 70dvh;
  display: grid;
  place-items: center;

  img {
    width: 40%;
  }

  a {
    text-decoration: none;
  }
}
