@import "../../assets/scss/variables";

.image-upload-container {
  width: 200px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  // margin: 20px auto;

  .image-upload-area {
    width: 100%;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    .remove-btn {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $primary-color; /* Use your primary color */
      color: white;
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      cursor: pointer;
      font-size: 0.9rem;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($primary-color, 10%); /* Darken on hover */
      }
    }

    .file-input {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }

    .upload-icon {
      font-size: 48px;
      color: #ccc;
    }

    .uploaded-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .img_upload--msg {
      color: $primary-color;
    }
  }
}
