@import "../../../assets/scss/variables";

.about {
  &__hero {
    min-height: 60vh;
    width: 100%;
    background-color: black;
    background-image: url("/images/about-bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;

    @media (max-width: 800px) {
      min-height: 50vh;
    }

    .overlay {
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &__body {
    padding: $base-normal-padding;

    h3 {
      color: $primary-color;
      font-size: $font-size-xl;
    }

    p {
      color: $primary-light;
      margin-top: $base-normal-padding;
      text-align: justify;
      font-size: $font-size-lg;
    }

    @media (min-width: 1440px) {
      padding: $base-normal-padding 0;
    }
  }
}
