@import "../../assets/scss/variables";

.carousel {
  width: $event-carousel-width;
  height: 200px;

  margin: 3rem auto;
  padding: $base-padding;
  position: relative;

  @media (min-width: 500px) {
    height: 250px;
  }

  @media (min-width: 660px) {
    height: 300px;
  }

  @media (min-width: 900px) {
    height: 500px;
  }

  &__img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: $base-border-radius;
    box-shadow: 0 4px 8px -3px $primary-dark;
    transition: $base-transition-spd;
  }

  .prevArrow,
  .nextArrow {
    color: $primary-light;
    font-size: 3rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    @media (max-width: 600px) {
      font-size: 2rem;
    }
  }

  .prevArrow {
    left: -3rem;
  }

  .nextArrow {
    right: -3rem;
  }

  &__indicators {
    // width: fit-content;
    // margin: $base-padding auto;
    display: flex;
    gap: $base-font-size * 0.2;
    align-items: center;
    justify-content: center;
    margin-top: $base-padding;

    .dot {
      color: $primary-light;
      font-weight: bold;
      cursor: pointer;
    }

    .activeSlide {
      color: $primary-color;
    }
  }
}
