@import "../../../assets/scss/variables";
@import "../../../assets/scss/button";

.resetPassword {
  min-height: 100dvh;
  width: 100%;
  display: grid;
  place-content: center;

  &__form {
    display: flex;
    flex-direction: column;
    gap: $base-normal-padding;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2),
      6px 6px 15px -8px rgba(0, 0, 0, 0.6),
      -6px -6px 15px -8px rgba(0, 0, 0, 0.6);
    padding: $base-normal-padding;

    h3 {
      color: $primary-color;
    }
  }
}
